.st0 {
  fill: #22272f;
}
.st1 {
  fill: #627185;
}
.st2 {
  fill: #525e6f;
  stroke: #525e6f;
  stroke-miterlimit: 10;
}
.st3 {
  fill: #525e6f;
}
.st4 {
  fill: #ece7e3;
}
.st5 {
  fill: #d9836c;
}
.st6 {
  fill: #ffffff;
}
.st7 {
  fill: #f5f0eb;
}
.st8 {
  fill: #8c4e14;
}
.st9 {
  fill: #c38d4b;
}
.st10 {
  fill: #f6af95;
}
.st11 {
  fill: #de876c;
}
.st12 {
  fill: #0c0d0d;
}
.st13 {
  fill: #5d8696;
}
.st14 {
  fill: #242422;
}
.st15 {
  fill: #f0aa90;
}
.st16 {
  opacity: 0.4;
  fill: #eaedee;
  enable-background: new;
}
.st17 {
  fill: #5c311e;
}
.st18 {
  fill: #d5523b;
}
.st19 {
  fill: #bcc1c7;
}
.st20 {
  fill: #b34217;
}
