.st0{fill:#22272F;}
.st1{fill:#627185;}
.st2{fill:#525E6F;stroke:#525E6F;stroke-miterlimit:10;}
.st3{fill:#525E6F;}
.st4{fill:#ECE7E3;}
.st5{fill:#D9836C;}
.st6{fill:#FFFFFF;}
.st7{fill:#F5F0EB;}
.st8{fill:#8C4E14;}
.st9{fill:#C38D4B;}
.st10{fill:#F6AF95;}
.st11{fill:#DE876C;}
.st12{fill:#0C0D0D;}
.st13{fill:#5D8696;}
.st14{fill:#242422;}
.st15{fill:#F0AA90;}
.st16{opacity:0.4;fill:#EAEDEE;enable-background:new    ;}
.st17{fill:#5C311E;}
.st18{fill:#D5523B;}
.st19{fill:#BCC1C7;}
.st20{fill:#B34217;}