* {
  box-sizing: border-box;
  outline: none;
}

img,
svg {
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  font-size: 1vw;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  font-size: 1vw;
  position: relative;
  overflow: hidden;
}


li {
  list-style: none;
}

.liAnim {
  top: 15vh;
  left: 10vw;
  width: 17vh;
  height: 17vh;
}

.liAnim.active {
  font-size: 1vw;
  cursor: auto;
  top: 10vh;
  left: 4vw;
  width: 17vh;
  height: 17vh;

  .block_name {
    font-size: 1.5vw;
    margin-bottom: 10vh;
  }

  .short_description {
    top: 50%;
    background: transparent;
    border-radius: 0;
    padding: 0;
    max-width: 80%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .short_description:after {
    content: none;
  }

  .more {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
  }

  .less {
    cursor: pointer;
    margin-top: 10px;
    color: #222;
  }

  .long_description {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    position: absolute;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    margin-top: 2.7vh;
  }
}

.liAnim:nth-child(6) {
  z-index: 4;
}

.liAnim:nth-child(7) {
  z-index: 3;
}

.liAnim:nth-child(8) {
  z-index: 2;
}

.liAnim:nth-child(5) {
  z-index: 3;
}

.liAnim:nth-child(4) {
  z-index: 3;
}

.bubble_color {
  background: radial-gradient(circle, #002451 0%, #01040c 100%) !important;
  color: white !important;
}