* {
  box-sizing: border-box;
  outline: none;
}

img,
svg {
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  font-size: 1vw;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  font-size: 1vw;
  position: relative;
  overflow: hidden;
}



li {
  list-style: none;
}


