.manWrap {
  position: fixed;
  top: 5vh;
  max-width: 20vw;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  margin-left: 2.5vh;
  z-index: 99;
}

.bor_r {
  width: 100%;
}

.nameWrap {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 9;
}

.name {
  font-size: 1.2vw;
  font-weight: bold;
  text-transform: uppercase;
}

.infoButton {
  position: absolute;
  right: -10px;
  top: 10px;
}
