.wrap {
}
.infoBtn {
  border-radius: 50%;
  background: #fff;
  width: 3.5vh;
  height: 3.5vh;
  position: absolute;
  box-shadow: 4px 4px 7px -3px rgb(0 0 0 / 15%);
  cursor: pointer;
  z-index: 9;
  transition: all 0.3s;

  &:hover {
    box-shadow: 4px 4px 14px -3px rgb(0 0 0 / 25%);
    transition: all 0.3s;
  }

  span {
    border-radius: 50%;
    background: #f3f8ff;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 0%;
    left: 0%;
    color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    font-size: 1.5vw;
    font-weight: normal;
    text-transform: lowercase;
  }
}

.modal {
  position: fixed;
  top: 8vh;
  left: 0;
  width: 50vw;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #0C0D0D;
  z-index: 99;
  border-radius: 4vh;
  padding: 2vh 5vh;
  opacity: 0;
  visibility: hidden;
}
.modal_inner {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 1.2vw;
  margin: 20px 0;
}
.description {
  font-size: 1vw;
  font-style: normal;
  font-weight: normal;
  text-transform: lowercase;
}