.loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.txt {
  display: flex;
}

.coachingPanel {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;

  span {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}




