.block_name {
  font-size: 1vw;
  pointer-events: none;
}

.short_description {
  position: absolute;
  bottom: 20vh;
  background: #20b9fc;
  border-radius: 10px;
  padding: 15px;
  width: 135%;
  display: none;

  .more {
    display: none;
    color: #222;
  }
}

.short_description:after {
  content: '';
  position: absolute;
  left: 42%;
  top: 99%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #20b9fc;
  clear: both;
}


.long_description {
  display: none;
}


.bubbles {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.bubbles ul {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  //transform: translate(-50%, -50%);
}

.bubbles li {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  background: radial-gradient(circle, #f3f8ff 0%, #E1E8F1 100%);
  color: #222;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  padding: 10px;
  cursor: pointer;
}

