.wrap {
  position: absolute;
  top: 5vh;
  right: 2.5vh;
  width: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;

}


.st0 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter);
}

.st1 {
  mask: url(#path-2-inside-1_118_11529_00000035521559665472490160000006508634216151979704_);
  fill: none;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st2 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter_00000093859082492350063090000016262059909297252738_);
}

.st3 {
  mask: url(#path-3-inside-2_118_11529_00000068666992414836053100000011650846227502442171_);
  fill: none;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st4 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter_00000070098990200357068500000013893382420290448305_);
}

.st5 {
  mask: url(#path-4-inside-3_118_11529_00000105411502117897090960000003828207303976857733_);
  fill: none;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st6 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter_00000172437892083467712940000008412654264109475480_);
}

.st7 {
  mask: url(#path-5-inside-4_118_11529_00000106126587134459038160000017348524759478989214_);
  fill: none;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st8 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter_00000129184885922909131970000016662410319831975607_);
}

.st9 {
  mask: url(#path-6-inside-5_118_11529_00000032650388985414524380000010511625071678217639_);
  fill: #FFFFFF;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st10 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter_00000101073419495148859580000002627121041024611001_);
}

.st11 {
  mask: url(#path-7-inside-6_118_11529_00000134943199917741197070000011544197061944792208_);
  fill: #FFFFFF;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st12 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter_00000125588445755626120090000015160993233732334236_);
}

.st13 {
  mask: url(#path-8-inside-7_118_11529_00000057838500126594190450000005845931714563951290_);
  fill: #FFFFFF;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st14 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter_00000129207572082444261610000008705585407613551266_);
}

.st15 {
  mask: url(#path-9-inside-8_118_11529_00000183249800332781374990000007782838193454710676_);
  fill: #FFFFFF;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st16 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter_00000111885683078858805270000005304928616572596411_);
}

.st17 {
  mask: url(#path-10-inside-9_118_11529_00000081630960255958960070000001585561203841061041_);
  fill: #FFFFFF;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st18 {
  fill: #FFFFFF;
  filter: url(#Adobe_OpacityMaskFilter_00000087375277705603015550000007958591173822321343_);
}

.st19 {
  mask: url(#path-11-inside-10_118_11529_00000141427320736117684910000010670697536111782021_);
  fill: #FFFFFF;
  stroke: #C2C2C2;
  stroke-width: 2;
  stroke-dasharray: 2, 2;
}

.st20a {
  fill: transparent;
  stroke: #3ab766;
  stroke-width: 0.6rem;
  stroke-dasharray: 439.8;
  stroke-dashoffset: 0;
}
.st20b {
  fill: transparent;
  stroke: #e6e6e6;
  stroke-width: 0.5rem;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.st21 {
  fill: #BCBBBB;
}

.st22 {
  font-family: 'ArialMT';
}

.st23 {
  font-size: 21.7363px;
}