.manWrap {
  position: fixed;
  top: 80px;
  max-width: 400px;
  width: 100%;
  z-index: 99;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.bor_r {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(25% at 50% 18%);
}

.nameWrap {
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%,50%);
  z-index: 9;
}

.name {
  font-size: 1.2vw;
  font-weight: bold;
  text-transform: uppercase;
}

.infoButton {
  position: absolute;
  right: -10px;
  top: 10px;
}
