.st0{clip-path:url(#SVGID_00000176021300326527263570000011845981822020874928_);}
.st1{fill:#ECE7E3;}
.st2{fill:#D9836C;}
.st3{fill:#FFFFFF;}
.st4{fill:#F5F0EB;}
.st5{fill:#F6AF95;}
.st6{fill:#DE876C;}
.st7{fill:#0C0D0D;}
.st8{fill:#5D8696;}
.st9{fill:#242422;}
.st10{fill:#F0AA90;}
.st11{opacity:0.4;fill:#EAEDEE;enable-background:new    ;}
.st12{fill:#5C311E;}
.st13{fill:#D5523B;}
